!hopefully this terminal sucks less
st.font:            Inconsolata:style=regular:size=16
st.bold_font:       Inconsolata:style=bold:size=16
st.background:      #252525
st.foreground:      #D0E0D0
st.cursorColor:     #20E020
st.termname:        xterm-256color
st.shell:           /bin/bash
st.bellvolume:      10
st.tabspaces:       4
st.chscale:         1.0
st.cwscale:         1.0
!
!color defs (terminal.sexy)
!normal, then bright
!
!black
st.color0:  #000000
!red
st.color1:  #FF0000
!green
st.color2:  #00FF00
!yellow
st.color3:  #FFFF00
!blue
st.color4:  #2080FF
!magenta
st.color5:  #FF00FF
!cyan
st.color6:  #00FFFF
!white
st.color7:  #EEEEEE
!black
st.color8:  #111111
!red
st.color9:  #FF4040
!green
st.color10: #40FF40
!yellow
st.color11: #FFFF40
!blue
st.color12: #4040FF
!magenta
st.color13: #FF40FF
!cyan
st.color14: #40FFFF
!white
st.color15: #FFFFFF
